.header{
    background-color:  #3f9b0b;
}

.me-auto{
    border-left: 1px black solid;
}
.navbar-light .navbar-brand,.navbar-light .navbar-brand:hover, .navLink {
    color: white;
}

.navLink:hover, .active{
    color:#FFFF00;
}

@media (min-width: 768px){
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}
