.header{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.headerNav{
    background-color:  #3f9b0b;
}
.me-auto{
    border-left: 1px black solid;
}
.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-brand:hover{
    color: white;
}
.navLink{
    color: white;
}
.navLink:hover, .active{
    color:#FFFF00;
}
