.footer{
    background-color:  #3f9b0b;
}

.dataFootbalLogo{
    width: 100px;
    height: 50px;
}
.footer .navbar-nav{
    width: 200px;
    color: white;
    align-items: center;
    justify-content: space-between;
}


@media (min-width: 768px){
    .footer .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .footer .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    
}
@media (min-width: 992px){
    .navbar-expand-lg {
        justify-content: space-between
    }
}

