.footer{
    background-color:  #3f9b0b;
}
.dataFootbalLogo{
    width: 100px;
    height: 50px;
}
.footer .navbar-nav{
    width: 200px;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.navbar-expand-lg {
    justify-content: space-between
}
.footer .navbar-expand-lg .navbar-nav {
    flex-direction: row;
}

@media (max-width: 320px){
    .dataFootbalLogo{
        height: 40px;
    }
}
