.card{
    height: 200px;
    justify-content: center;
    text-align: center;
  } 
  .card-img , .card-img-bottom{
    width:auto
  }
  .competitionContainer{
    height: 690px;
    margin-bottom: 50px;
  }
  .teamContainer{
    height: 450px;
    margin-bottom: 50px;
  }
  @media (max-width: 992px){
    .teamContainer{
      height: 1120px;
    }
  }