.filterBar{
    display: flex;
    height: auto;
    margin-bottom: 50px;
    margin-top:50px;
}
.d-flex{
    margin-right: 25px;
}
.buttonGroup{
    display: flex;
    width: 400px;
    justify-content: space-between;
}
@media (max-width: 568px){
    .filterBar{
        flex-direction: column;
        margin-bottom: 0;
    }
    .me-2{
        margin-right: 0;
        margin-bottom: 25px;
    }
    .d-flex{
        margin-right: 0px;
    }
    .buttonGroup{
        width: 288px;
        flex-direction: column;
    }
}